<section class="px-4 py-12 max-w-6xl mx-auto grid md:grid-cols-4 gap-6 text-gray-900">
  <!-- Sidebar -->
  <aside class="col-span-1">
    <h2 class="text-xl font-bold mb-4">Галузі права</h2>
    <ul class="space-y-2">
      <li>
        <a routerLink="administrative" routerLinkActive="font-semibold text-blue-700" class="hover:underline block">
          Адміністративне право
        </a>
      </li>
      <li>
        <a routerLink="military" routerLinkActive="font-semibold text-blue-700" class="hover:underline block">
          Військове право
        </a>
      </li>
      <li>
        <a routerLink="commercial" routerLinkActive="font-semibold text-blue-700" class="hover:underline block">
          Господарське право
        </a>
      </li>





      <li>
        <a routerLink="housing" routerLinkActive="font-semibold text-blue-700" class="hover:underline block">
          Житлове право
        </a>
      </li>
      <li>
        <a routerLink="land" routerLinkActive="font-semibold text-blue-700" class="hover:underline block">
          Земельне право
        </a>
      </li>
      <li>
        <a routerLink="intellectual" routerLinkActive="font-semibold text-blue-700" class="hover:underline block">
          Інтелектуальна власність
        </a>
      </li>

      <li>
        <a routerLink="corporate" routerLinkActive="font-semibold text-blue-700" class="hover:underline block">
          Корпоративне право
        </a>
      </li>
      <li>
        <a routerLink="criminal" routerLinkActive="font-semibold text-blue-700" class="hover:underline block">
          Кримінальне право
        </a>
      </li>
      <li>
        <a routerLink="customs" routerLinkActive="font-semibold text-blue-700" class="hover:underline block">
          Митне право
        </a>
      </li>
      <li>
        <a routerLink="tax" routerLinkActive="font-semibold text-blue-700" class="hover:underline block">
          Податкове право
        </a>
      </li>


      <li>
        <a routerLink="family" routerLinkActive="font-semibold text-blue-700" class="hover:underline block">
          Сімейне право
        </a>
      </li>
      <li>
        <a routerLink="labor" routerLinkActive="font-semibold text-blue-700" class="hover:underline block">
          Трудове право
        </a>
      </li>
      <li>
        <a routerLink="civil" routerLinkActive="font-semibold text-blue-700" class="hover:underline block">
          Цивільне право
        </a>
      </li>


    </ul>
  </aside>

  <!-- Main Content -->
  <main class="col-span-3 min-h-[300px]">
    <router-outlet></router-outlet>
  </main>
</section>
